


.package-grid-page {
  .package-grid-top-area {
    padding: 33px 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 24px;

  

    span {

      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;

      strong {
    
        font-weight: 600;
      }
    }

    .selector-and-list-grid-area {
      display: flex;
      align-items: center;
      gap: 55px;

     
      .selector-area {
        display: flex;
        align-items: center;
        gap: 20px;

       
        .nice-select {
          padding: 0;
          height: unset;
          line-height: 1;
          border: unset;
          width: 88px;

          .current {
         
          }

          &::after {
            right: 0;
          }

          .list {
            min-width: 150px;
            min-height: 35px;
            line-height: 35px;
            top: 30px;
            box-shadow: unset;
            border-radius: 10px;

            .option {
              font-size: 13px;
            }
          }
        }
      }

      .grid-view {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;

        li {
          cursor: pointer;

          svg {
          
          }

          &:hover {
            svg {
         
            }
          }

          &.active {
            svg {
           
            }
          }
        }
      }

      .filter-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 1;
        cursor: pointer;

        svg {
         
          transition: 0.5s;
        }

        span {
       
         
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.02em;
          text-align: left;
          transition: 0.5s;
        }

        &.active {
          svg {
          
          }

          span {
           
          }
        }
      }
    }
  }

  .package-card {
    .package-content {
      .package-info {
        padding: 0;
        margin: 0;
        list-style: none;
        display: none;
        margin-bottom: 40px;

        

        li {
          svg {
          

            rect {
             
            }
          }

       
         
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.list-grid-product-wrap {
  &.column-2-wrapper {
    .item {
      width: 50%;

     
    }
  }

  &.column-1-wrapper {
    .item {
      width: 100%;
    }

    .package-card {
      display: grid;
      grid-template-columns: 49.5% 50%;

      .package-img-wrap {
        .package-img {
          height: 100%;

          img {
            min-height: unset;
            height: 100%;
          }
        }

        .package-card-img-slider {
          height: 100%;
        }
      }

      .package-content {
        padding: 15px 24px;

        
        .package-info {
          display: block;
        }
      }

      &.four {
        .package-img-wrap {
          min-height: 408px;

          
        }
      }
    }

    .hotel-card {
      display: grid;
      grid-template-columns: 49.5% 50%;

      .hotel-img-wrap {
        .hotel-img {
          height: 100%;

          img {
            min-height: unset;
            height: 100%;
          }
        }
      }

      .hotel-content {
        padding: 15px 24px;

       
      }
    }
  }
}

.package-sidebar-area {
  .sidebar-wrapper {
    border-radius: 20px;

    
    .title-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      padding: 35px 30px;

      

      h5 {
        margin-bottom: 0;

       
      }

      span {
        
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          color: #FF3927;
        }
      }
    }

    .single-widgets {
      padding: 35px 30px;

     

      &:last-child {
        border-bottom: none;
      }

      .widget-title {
        margin-bottom: 25px;

        

        h5 {
          margin-bottom: 0;

         
        }
      }

      .checkbox-container {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            margin-bottom: 30px;
            position: relative;

            &:last-child {
              margin-bottom: 0;
            }

            &:first-child {
              .sub-category {
                display: block;
              }
            }

            .containerss {
              display: flex;
              gap: 5px;
              width: 100%;
              position: relative;
              padding-left: 25px;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;

              strong {
               
                font-weight: 600;
                font-size: 16px;
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

              
              }

              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked~.checkmark {
                  background-color: transparent;

                  &::after {
                    content: '\F26E';
                   
                    line-height: 1;
                    font-size: 12px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                  }
                }

                &:checked~strong {
                }
              }

              .checkmark {
                position: absolute;
                top: 1px;
                left: 0;
                height: 14px;
                width: 14px;
                background-color: transparent;
                border-radius: 4px;
              }
            }

            i {
              position: absolute;
              top: 1px;
              right: 0;
              color: rgba(#525252, 0.6);
              font-size: 13px;
              line-height: 1;
              cursor: pointer;
              transition: 0.5s ease;

              &.active {
                transform: rotate(90deg);
              }
            }

            .sub-category {
              position: static;
              min-width: 200px;
              border: none;
              opacity: 1;
              visibility: visible;
              transform: translateY(0px);
              padding: 25px 0px 0px 30px;
              display: none;

             

              li {
                margin-bottom: 25px;

                &:last-child {
                  margin-bottom: 0;
                }

                .containerss {
                  strong {
                    font-weight: 500;
                  }

                  input {
                    &:checked~strong {
                    }
                  }
                }
              }
            }
          }
        }

        &.two {
          ul {
            li {
              .containerss {
                strong {
                }
              }
            }

            &.experience {
              height: 248px;
              overflow: hidden;
            }
          }

          >span {
           
            font-weight: 700;
            font-size: 15px;
            line-height: 1;
            display: block;
            cursor: pointer;
            padding-top: 35px;
          }
        }
      }

      .tour-type {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;

      

        li {
        
          font-weight: 500;
          font-size: 16px;
          line-height: 1;
          padding: 8px 16px;
          background-color: #F0F0F0;
          border-radius: 100px;
          cursor: pointer;
          transition: 0.5s;

         

          &.active,
          &:hover {
         
          }
        }
      }

      .range-wrap {
        .slider-labels {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          .caption {
            
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.3px;
          }
        }

        .noUi-target,
        .range-wrap .noUi-target * {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          touch-action: none;
          -moz-user-select: none;
          user-select: none;
          box-sizing: border-box;
        }

        .noUi-target {
          position: relative;
          direction: ltr;
        }

        .noUi-base {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1;
        }

        .noUi-origin {
          position: absolute;
          right: 0;
          top: 0;
          left: 0;
          bottom: 0;
        }

        .noUi-handle {
          position: relative;
          z-index: 1;
        }

        .noUi-stacking .noUi-handle {
          z-index: 10;
        }

        .noUi-state-tap {
          .noUi-origin {
            transition: left 0.3s, top 0.3s;
          }
        }

        .noUi-state-drag * {
          cursor: inherit !important;
        }

        .noUi-base,
        .range-wrap .noUi-handle {
          transform: translate3d(0, 0, 0);
        }

        .noUi-horizontal {
          height: 4px;

          .noUi-handle {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            left: 0px;
            right: 0px;
            top: -6px;
            cursor: pointer;

            &::after {
              content: "";
              height: 8px;
              width: 8px;
              border-radius: 50%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .noUi-background {
          background: rgba(33, 33, 33, 0.5);
          height: 5px;
          border-radius: 10px;
        }

        .noUi-connect {
          transition: background 450ms;
          border-radius: 10px;
          height: 5px;
        }

        .noUi-target {
          border-radius: 10px;
        }
      }
    }
  }

  
}

.map-view-modal {
  .modal-dialog {
    max-width: 872px;

    .modal-content {
      border-radius: 20px;
      padding: 55px 0px;
      position: relative;
      text-align: center;

     

      .close-btn {
        width: 36px;
        height: 36px;
        background-color: #F0F0F0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 20px;
        transition: 0.5s;


        svg {
          fill: #FF3927;
          transition: 0.5s;
        }

        &:hover {
          background-color: #FF3927;

          svg {
          }
        }
      }

      .title-area {
        padding-bottom: 25px;

        .rating-area {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          margin-bottom: 20px;

          

          span {
           
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
          }

          .rating-text {
            display: flex;
            align-items: center;
            gap: 10px;

            .rating-stars {
              ul {
                display: flex;
                align-items: center;
                gap: 5px;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                  font-size: 16px;
                  line-height: 1;
                  color: #DDA701;
                  display: inline-block;

                  &.half {
                    font-size: 14px;
                  }
                }
              }
            }

            span.total {
              
              font-weight: 500;
              font-size: 14px;
              line-height: 1;
              text-transform: capitalize;
            }
          }

        }

        h2 {
          margin-bottom: 10px;
        }

        .package-features {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          flex-wrap: wrap;

          li {
          
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            display: flex;
            align-items: center;
            gap: 8px;

            svg {
            }
          }
        }
      }

      .modal-body {
        padding: 35px 60px 0;


        .map-iframe {
          iframe {
            width: 100%;
          }
        }

        .bottom-area {
          padding-top: 45px;

         
          strong {
            
            
            font-weight: 600;
            font-size: 32px;
            line-height: 1;
            margin-bottom: 20px;
            display: block;


            span {
            
              font-size: 14px;
              font-weight: 500;
            }
          }

          >span {
           
           
            font-weight: 500;
            font-size: 22px;
            line-height: 1.5;
            display: block;
            margin-bottom: 40px;

          
          }

          .primary-btn1 {
            min-width: 220px;
            padding: 22px 24px;

           
          }
        }
      }
    }
  }
}
.hotel-grid-page {
  .hotel-grid-top-area {
    padding: 33px 30px;
   
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 24px;

   

    span {
    
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;

      strong { 
        font-weight: 600;
      }
    }

    .selector-and-list-grid-area {
      display: flex;
      align-items: center;
      gap: 55px;

     

        .nice-select {
          padding: 0;
          height: unset;
          line-height: 1;
          border: unset;
          width: 88px;

          .current {
           
          }

          &::after {
            right: 0;
          }

          .list {
            min-width: 150px;
            min-height: 35px;
            line-height: 35px;
            top: 30px;
            box-shadow: unset;
           
            border-radius: 10px;

            

            .option {
              font-size: 13px;
            }
          }
        }
      }

      .grid-view {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;

        li {
          cursor: pointer;

          svg {
            
          }

          &:hover {
            svg {
            
            }
          }

          &.active {
            svg {
            
            }
          }
        }
      }

      .filter-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 1;
        cursor: pointer;

        svg {
        
          transition: 0.5s;
        }

        span {
          
         
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.02em;
          text-align: left;
          transition: 0.5s;
        }

        &.active {
          svg { 
          }

          span {
           
          }
        }
      }
    }
  }


.hotel-card {
  padding: 10px;
  border-radius: 20px;
 
  

  

  .hotel-img-wrap {
    position: relative;

    .hotel-img {
      position: relative;
      overflow: hidden;
      display: block;
      border-radius: 10px;

      img {
        border-radius: 10px;
        min-height: 250px;
        max-height: 250px;
        object-fit: cover;
        transition: all 0.5s ease-out;
      }

      &::after {
        position: absolute;
        width: 200%;
        height: 0%;
        left: 50%;
        top: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        transform: translate(-50%, -50%) rotate(-45deg);
        content: "";
        z-index: 1;
      }
    }

    .batch {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 7px;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;

     

      span {
       
       
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        display: block;
        padding: 6px 14px;
        background-color: #FF3927;
        border-radius: 100px;

       

        &.yellow-bg {
          background-color: #FF8B00;
        }
      }
    }
  }

  .hotel-content {
    padding: 20px 15px 15px;

   

    .rating-area {
      display: block;
      margin-bottom: 10px;

      .star {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 6px;
        line-height: 1;

        li {
          i {
            color: #DDA701;
            font-size: 12px;
          }
        }
      }

      span {
       
        
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
      }

      .rating-text {
        display: flex;
        align-items: center;
        gap: 10px;

        .rating-stars {
          ul {
            display: flex;
            align-items: center;
            gap: 5px;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              font-size: 16px;
              line-height: 1;
              color: #DDA701;
              display: inline-block;

              &.half {
                font-size: 14px;
              }
            }
          }
        }

        span.total {
          
        
          font-weight: 500;
          font-size: 14px;
          line-height: 1;
        }
      }


    }

    h5 {
      margin-bottom: 10px;

      a {
       
       
        font-weight: 600;
        font-size: 20px;
        line-height: 1.4;
        transition: 0.5s;

        &:hover {
         
        }

      }
    }

    .location-area {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: 30px;


      .location {
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
        
          transition: 0.5s;

        }

        i {
          line-height: 1;
          font-size: 14px;
        }

        a {
         
         
          font-weight: 600;
          font-size: 14px;
          line-height: 1;
          transition: 0.5s;


          &:hover {
           
          }
        }
      }

      .map-view {
       
       
        font-weight: 500;
        font-size: 12px;
        line-height: 1;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: 0.5s;

        svg {
         
          transition: 0.5s;
        }

        &:hover {
         

          svg {
            
          }
        }
      }
    }

    .hotel-feature-list {
      margin: 0;
      list-style: none;
      padding: 15px 20px;
      background-color: #F0F0F0;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      row-gap: 18px;
      margin-bottom: 15px;

      

      li {
       
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        gap: 5px;

       

        svg {  

          rect {
           
          }
        }
      }
    }

    .cancellation {
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
      

        rect {
          
        }
      }

      span {
       
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
      }
    }

    .btn-and-price-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      padding-top: 40px;

     

      .primary-btn1 {
        padding: 13px 14px;

      }

      .price-area {
        h6 {
      
          font-weight: 600;
          font-size: 14px;
          line-height: 1;
          margin-bottom: 10px;
          text-align: end;

       
        }

        span {
          
          font-weight: 600;
          font-size: 25px;
          line-height: 1;
          display: flex;
          align-items: baseline;
          justify-content: end;
          gap: 5px;
          flex-wrap: wrap;


          del {
            font-size: 18px;
            opacity: 0.5;
          }
        }
      }
    }
  }

  &:hover {
    .hotel-img-wrap {
      .hotel-img {
        img {
          transform: scale(1.1);
        }

        &::after {
          height: 250%;
          transition: all 600ms linear;
          background-color: transparent;
        }
      }

      .slider-btn-grp {
        .slider-btn {
          opacity: 1;
        }
      }
    }
  }
}
